version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-local
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    volumes:
      - ./localstack/setup.sh:/etc/localstack/init/ready.d/script.sh

volumes:

  redis_data:
    driver: local

